/* Variables */
:root {
    --color-primary: #944C43;
    --color-secondary: rgb(34, 34, 34);
    --color-highlight: #FFA07A;
    --color-background: rgba(255, 160, 122, 0.17);
    --color-overlay: rgba(255, 255, 255, 0.4);
    --color-gradient-start: #FFBFA6;
    --color-gradient-end: #FA8072;
    --color-grey-dark: rgb(58, 57, 57);

    --color-blue: rgb(33, 108, 230);
    --color-purple: rgb(138, 41, 186);
    --color-green: rgb(25, 129, 25);
    
}

/* Général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    padding: 3% 0;
    color: var(--color-primary);
    font-size: 2em;
    font-weight: bold;
}

a {
    color: var(--color-secondary);
    text-decoration: none;
}

.blockHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#accessibilite {
    font-size: 1.5em;
    padding-left: 5%;
}

.accessColors {
    display: none;
}

.accessColors.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 8%;
    top: 6%;
    border: 1px solid var(--color-highlight);
    border-radius: 10px;
    background-color: white;
    width: auto;
    z-index: 10;
    text-align: left;
}

.blue {
    color: var(--color-blue);
}

.purple {
    color: var(--color-purple);
}

.green {
    color: var(--color-green);
}

.accessColors p {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

/* Navbar */
#navbar {
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color-secondary);
}

#navbar li {
    list-style: none;
}

.burger_button {
    display: none;
}

/* Espace principal */
.titleForum {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--color-grey-dark);
    font-size: 3em;
    font-weight: bold;
    background-color: transparent;
    transform: translate(-50%, -50%);
}

.containColisee {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.bande {
    height: 1em;
    background-color: var(--color-highlight);
}

.colisee {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transform-origin: center center;
}

.containColisee::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-overlay);
}

/* Main */
section {
    padding: 0 3% 3% 3%;
}

h2 {
    padding: 3% 0;
    color: var(--color-primary);
}

.titre {
    font-size: 1.2em;
    color: var(--color-primary);
}

h3 {
    padding-bottom: 2%;
}

h4 {
    font-size: 1.17em;
}

.up {
    padding: 0 0 0 3%;
    padding-bottom: 1%;
}

.down {
    padding: 0 0 0 3%;
}

.cat {
    width: 100%;
}

.cat a {
    background-color: transparent;
    color: var(--color-primary);
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 1%;
}

.lastTopics {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lastTopic {
    padding: 3%;
    border: 1px solid var(--color-primary);
    border-radius: 30px;
}

.lastTopic a {
    color: var(--color-secondary);
}

.titleTopic {
    font-weight: bold;
}

.linePost {
    height: 0.1em;
    background-color: var(--color-highlight);
    margin: 10% 0;
}

.nbLastPost {
    text-align: end;
}

.noPost {
    padding: 2% 0 0 4%;
}

.msgVer {
    padding: 2% 0 0 4%;
}

/* Topics */
.blockTopic {
    width: 90%;
}

.topic, .listCat {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background);
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 1%;
}

.fleche {
    padding-right: 5%;
    background-color: transparent;
    width: 5%;
    height: auto;
}

.fa-solid {
    color: var(--color-primary);
    background-color: transparent;
}

.cadenas {
    margin-left: 1%;
}

.topic a {
    color: var(--color-secondary);
    font-weight: bold;
}

.nameTime {
    font-size: 0.8em;
    font-style: italic;
}

.space {
    padding-bottom: 5%;
}

/* Formulaires */
legend {
    padding: 3% 0;
    color: var(--color-primary);
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input, textarea {
    border: 1px solid var(--color-highlight);
    padding: 1%;
    border-radius: 10px;
}

.blockForm {
    width: 100%;
    max-width: 600px;
    padding: 2% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.topicTitle, .textTopic {
    width: 100%;
    padding: 10px;
}

.title input, .blockForm textarea {
    width: 100%;
}

.title input {
    width: calc(100% - 20px);
}

.blockForm textarea {
    height: 200px;
    overflow: auto;
    resize: none;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button input {
    margin-top: 5%;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(187, 182, 182);
    border: none;
    margin-bottom: 5%;
}

.button input:hover {
    background: linear-gradient(to right, var(--color-gradient-start) 0%, var(--color-gradient-end) 100%);
}

/* Footer */
footer {
    width: 100%;
    padding: 0.5% 0;
    background-color: var(--color-highlight);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

footer a {
    background-color: var(--color-highlight);
}
